/* .landingPrompt{
    text-align: center; 
    margin-top: 15%;
    color: white;
    display: none;
}

.landingPrompt hr{
    width: 20%;
    background-color: white;
}

#dashboard{
    display: none;
}
header{
    background-color: black;
    color: white;
    padding-top: 1%;
    padding-bottom: 2%;
} */

#sidenav {
    height: 100%;
    width: 400px; 
    position: fixed; 
    z-index: 1;
    top: 0; 
    right: 0;
    background-color: #6ABEEA;
    overflow-x: hidden; 
  }

  #sidenav .btn-primary {
      display: block;
      margin-left: 6%;
      margin-top: 10%;
  }

  #sidenav .userInfo #avatar .btn-primary{
      margin-left: 4%;
      margin-top: 30%;

  }

  hr{
    height:1px;
    border:none;
    color:#333;
    background-color:#333;
  }